<div class="primaryboxview">
<div class="container" style="margin-top:30px">
     <md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
      <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><span>Airline Details</span></h2>
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="Form">
            <md-input-container class="md-block">
              <label>Airline Code</label>
              <input type="text" name="email" ng-model="airline.Code" required=""/>
              
              
            </md-input-container>
            <md-input-container class="md-block">
              <label>Airline Name</label>
              <input type="text" name="name" ng-model="airline.Name" required="" md-maxlength="16"/>
              
            </md-input-container>
             <md-input-container class="md-block">
              <label>Airline Logo</label>
              <input type="file" name="logo" ng-model="airline.logo" placeholder="Airline Logo" required=""/>
              
            </md-input-container>
            <md-button ng-dimsabled="!Form.$valid" ng-click="addNewItem()" class="md-raised md-primary">&nbsp Add Airline &nbsp</md-button>

            <md-button ng-dimsabled="!Form.$valid" ng-href="#!/airlineDetails" class="md-raised md-primary">&nbsp View Airlines &nbsp</md-button>

          </form>
        </md-card-content>
      </md-card>
    </md-content>

<div class="secondaryboxview">
<!--
<md-button href="#!/airlineDetails" class="md-raised md-primary">&nbsp View All Airlines &nbsp</md-button><br><br>
-->

 <div id="airline" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-exporter class="grid"></div>
</div>
</div>
</div>