<md-button style="margin-left: 81%" ng-dimsabled="!Form.$valid" ng-href="#!/city" class="md-raised md-primary">&nbsp Add City &nbsp</md-button> 
 <div id="grid3" ui-grid="gridOptionscity" ui-grid-pagination ui-grid-selection ui-grid-exporter class="grid" ui-if="gridData.data.length>0"
ui-grid-auto-resize
ng-style="getTableHeight()"></div>