
<div class="primaryboxview">
<div class="container" style="margin-top:30px">
     <md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
      <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><span>City Details</span></h2>
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="Form">
           <md-input-container class="md-block">
              <label>City Code</label>
              <input type="text" name="email" ng-model="city.CityCode"  required=""/>
              
              
            </md-input-container>
            <md-input-container class="md-block">
              <label>City Name</label>
              <input type="text" name="email" ng-model="city.CityName"  required=""/>
              
              
            </md-input-container>
            <md-input-container class="md-block">
              <label>Airline Name</label>
              <input type="text" name="name" ng-model="city.AirlineName"  required="" md-maxlength="16"/>
              
            </md-input-container>
             <md-input-container class="md-block">
              <label>State Id</label>
              <input type="number" ng-model="city.StateId" required=""/>
              
            </md-input-container>
            <md-button ng-dimsabled="!Form.$valid" ng-click="addNewItem()" class="md-raised md-primary">&nbsp Add City &nbsp</md-button>

            <md-button ng-dimsabled="!Form.$valid" ng-href="#!/cityDetails" class="md-raised md-primary">&nbsp View Cities &nbsp</md-button>
          </form>
        </md-card-content>
      </md-card>
    </md-content>

<div class="secondaryboxview">
<!--
<md-button href="#!/cityDetails" class="md-raised md-primary">&nbsp View All Cities &nbsp</md-button>
-->

 <div id="city" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-exporter class="grid"></div>
</div>
</div>
</div>