<md-button style="margin-left: 81%" ng-dimsabled="!Form.$valid" ng-href="#!/flight" class="md-raised md-primary">&nbsp Add Flight &nbsp</md-button> 
 <div id="grid2" ui-grid="gridOptionsflight" ui-grid-pagination ui-grid-selection ui-grid-exporter class="grid" ui-if="gridData.data.length>0"
ui-grid-auto-resize
ng-style="getTableHeight()"></div>