
<div class="container" style="margin-top:30px">
     <md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
      <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><span>Route Details</span></h2>
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="Form">
           <md-input-container class="md-block">
              <label>Route Id</label>
              <input type="text" name="email" ng-model="route.RouteId"  required=""/>
              
              
            </md-input-container>
            <md-input-container class="md-block">
              <label>Source City</label>
              <input type="text" name="email" ng-model="route.SourceCity"  required="" value="orig"/>
              
              
            </md-input-container>
            <md-input-container class="md-block">
              <label>Destination City</label>
              <input type="text" name="name" ng-model="route.DestinationCity" value="dest"  required="" md-maxlength="16"/>
              
            </md-input-container>
             <md-input-container class="md-block">
              <label>Distance</label>
              <input type="text" ng-model="route.Distance" required="" value="response.routes[0].legs[0].distance.text"/>
              
            </md-input-container>
            <md-button ng-dimsabled="!Form.$valid" ng-click="addNewItem()" class="md-raised md-primary">&nbsp Add Route &nbsp</md-button>

            <md-button ng-dimsabled="!Form.$valid" ng-href="#!/routeDetails" class="md-raised md-primary">&nbsp View Routes &nbsp</md-button>
          </form>
        </md-card-content>
      </md-card>
    </md-content>

<div class="secondaryboxview">
<!--
<md-button href="#!/routeDetails" class="md-raised md-primary">&nbsp View All Routes &nbsp</md-button>
-->

 <div id="route" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-exporter class="grid"></div>
 <div id="route" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-exporter class="grid" ui-if="gridData.data.length>0"
ui-grid-auto-resize
ng-style="getTableHeight()"></div></div>
</div>
</div>