
<div class="primaryboxview">
<div class="container" style="margin-top:30px">
     <md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
      <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><span>State Details</span></h2>
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="Form">
           <md-input-container class="md-block">
              <label>State Code</label>
              <input type="text" name="email" ng-model="state.StateCode"  required=""/>
              
              
            </md-input-container>
            <md-input-container class="md-block">
              <label>State Name</label>
              <input type="text" name="email" ng-model="state.StateName"  required=""/>
            </md-input-container>
            
             
            <md-button ng-dimsabled="!Form.$valid" ng-click="addNewItem()" class="md-raised md-primary">&nbsp Add State &nbsp</md-button>

            <md-button ng-dimsabled="!Form.$valid" ng-href="#!/stateDetails" class="md-raised md-primary">&nbsp View States &nbsp</md-button>
          </form>
        </md-card-content>
      </md-card>
    </md-content>

<div class="secondaryboxview">

 <div id="state" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-exporter class="grid"></div>
</div>
</div>
</div>