<!DOCTYPE html>
<html>
<head>
    <!-- Angular Material Dependencies-->
    <link rel="stylesheet" href="../../resources/bower_components//angular-material/angular-material.css"/>
    <link rel="stylesheet" href="../../resources/bower_components//angular-material-icons/angular-material-icons.css"/>
    <link rel="stylesheet" href="../../resources/bower_components//ang-accordion/css/ang-accordion.css"/>

    <script src="../../resources/bower_components//angular/angular.js"></script>
    <script src="../../resources/bower_components//angular-messages/angular-messages.js"> </script>
    <script src="../../resources/bower_components//angular-animate/angular-animate.js"></script>
    <script src="../../resources/bower_components//angular-route/angular-route.js"></script>
    <script src="../../resources/bower_components//angular-material/angular-material.js"> </script>
    <script src="../../resources/bower_components//angular-material-icons/angular-material-icons.js"></script>
    <script src="../../resources/bower_components//angular-aria/angular-aria.js"></script>
    <script src="../../resources/bower_components//angular-route/angular-route.js"></script>
    <script src="../../resources/bower_components//ang-accordion/js/ang-accordion.js"></script>
    <script src="../services/BookTicketService.js"></script>
    <script src="../controllers/date_controller.js"></script>
    <script src="../controllers/BookFlightsController.js"></script>
</head>
<body ng-app="LoginModule" ng-controller="Ctrl">
<div md-colspan="2">
    <md-content  ng-init = "names = ['A', 'B', 'C', 'D']" ng-if="currentPage" layout="column" style="margin-left: 25%" layout-align="space-around" layout-padding="layout- padding" ng-cloak="ng-cloak" flex="flex" flex-gt-sm="50" flex-gt-md="33" class="login-form">

            <md-card class="card-40-center" flex="flex" flex-gt-sm="68" flex-gt-md="38">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2><span>Passenger Details</span></h2>
                </div>
            </md-toolbar>
                <div  >
<!--
<md-card-content>
-->

                <ang-accordion one-at-a-time="true" icon-position="right" open-icon-url="../../resources/images/download.png" close-icon-url="../../resources/images/plussign.png">
                    <collapsible-item ng-repeat = "name in names" item-title="Enter Details">
                        <form name="Form">
                        <md-input-container lay>
                            <label>Full Name</label>
                            <input name="name" ng-model="name" required md-maxlength="40" minlength="3">
                            <div ng-messages="userForm.name.$error" ng-show="userForm.name.$dirty">
                                <div ng-message="required" class="my-message">This is required!</div>
                                <div ng-message="md-maxlength" class="my-message">That's too long!</div>
                                <div ng-message="md-minlength" class="my-message">That's too short!</div>
                            </div>
                        </md-input-container>


                        <md-input-container class="md-block">

                            <md-radio-group ng-model="data.group1">
                                <md-radio-button value="male" aria-label="male">Male</md-radio-button>
                                <md-radio-button value="female" aria-label="female">Female</md-radio-button>
                            </md-radio-group>
                        </md-input-container>

                        <md-input-container ng-controller="DateCtrl">

                            <md-datepicker name="birthdate" ng-model="dob" md-max-date="dob" md-min-date="mindate" md-placeholder="Enter DOB">
                            </md-datepicker>

                        </md-input-container>
                        </form>
                    </collapsible-item>
                </ang-accordion>

<!--</md-card-content>-->
            </md-card>
        </div>
    </md-content>

</div>



... <!-- More collapsible items -->




<md-content   ng-if="currentPage" layout="row" layout-align="space-around" layout-padding="layout- padding" ng-cloak="ng-cloak" class="login-form">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="38">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><span>Contact Details</span></h2>
            </div>
        </md-toolbar>
        <md-card-content>
            <form name="Form">

                <md-input-container class="md-block">
                    <label>Email ID</label>
                    <input type="email" name="email" ng-model="vm.email" required=""/>
                    <div ng-show="Form.$submitted || Form.email.$touched">
                        <span ng-show="Form.email.$error.required">Tell us your email.</span>
                        <span ng-show="Form.email.$error.email">This is not a valid email.</span>
                    </div>
                    <div ng-messages="Form.email.$error" role="alert" multiple="">
                        <div ng-message="required" class="my-message"></div>
                    </div>
                </md-input-container>


                <md-input-container class="md-block">
                    <label>Nationality</label>
                    <input name="nationality" ng-model="nationality" required>
                    <div ng-messages="userForm.nationality.$error" ng-show="userForm.nationality.$dirty">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Address</label>
                    <textarea name="address" ng-model="address" required md-maxlength="15"></textarea>
                    <div ng-messages="userForm.address.$error" ng-show="userForm.bio.$dirty">
                        <div ng-message="required"
                             class="my-message" >This is required!</div>
                        <div ng-message="md-maxlength" class="my-message">That's too long!</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>City</label>
                    <input name="city" ng-model="city" required>
                    <div ng-messages="userForm.city.$error" ng-show="userForm.city.$dirty">
                        <div ng-message="required" class="my-message">This is required!</div>
                    </div>
                </md-input-container>


                <md-input-container class="md-block">
                    <label>State</label>
                    <input name="state" ng-model="state" required>
                    <div ng-messages="userForm.state.$error" ng-show="userForm.state.$dirty">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>


                <md-input-container class="md-block">
                    <label>Country</label>
                    <input name="country" ng-model="country" required>
                    <div ng-messages="userForm.country.$error" ng-show="userForm.country.$dirty">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Pin code</label>
                    <input name="pin" ng-model="pin" required>
                    <div ng-messages="userForm.pin.$error" ng-show="userForm.pin.$dirty">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>



                <md-input-container class="md-block">
                    <label>Phone Number:</label>
                    <input type="text" name="userPhoneNumber" ng-model="phoneNumber" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required/>
                    <div ng-messages="exampleForm.userPhoneNumber.$error">
                        <div ng-message="required">This field is required</div>
                        <div ng-message="pattern">Must be a valid 10 digit phone number</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Alternate Phone Number:</label>
                    <input type="text" name="altPhoneNumber" ng-model="altphoneNumber" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required/>
                    <div ng-messages="exampleForm.altPhoneNumber.$error">
                        <div ng-message="required">This field is required</div>
                        <div ng-message="pattern">Must be a valid 10 digit phone number</div>
                    </div>
                </md-input-container>
                <md-button type="submit" ng-click="login()" class="md-raised md-primary"><a href="#">Login</a></md-button>
            </form>
        </md-card-content>
    </md-card>
</md-content>
<ng-view></ng-view>

</body>
</html>



<!DOCTYPE html>
<html>
<head>
    <!-- Angular Material Dependencies-->
    <link rel="stylesheet" href="../../resources/bower_components//angular-material/angular-material.css"/>
    <link rel="stylesheet" href="../../resources/bower_components//angular-material-icons/angular-material-icons.css"/>
    <link rel="stylesheet" href="../../resources/bower_components//ang-accordion/css/ang-accordion.css"/>

    <script src="../../resources/bower_components//angular/angular.js"></script>
    <script src="../../resources/bower_components//angular-messages/angular-messages.js"> </script>
    <script src="../../resources/bower_components//angular-animate/angular-animate.js"></script>
    <script src="../../resources/bower_components//angular-route/angular-route.js"></script>
    <script src="../../resources/bower_components//angular-material/angular-material.js"> </script>
    <script src="../../resources/bower_components//angular-material-icons/angular-material-icons.js"></script>
    <script src="../../resources/bower_components//angular-aria/angular-aria.js"></script>
    <script src="../../resources/bower_components//angular-route/angular-route.js"></script>
    <script src="../../resources/bower_components//ang-accordion/js/ang-accordion.js"></script>
    <script src="../services/BookTicketService.js"></script>
    <script src="../controllers/date_controller.js"></script>
    <script src="../controllers/BookFlightsController.js"></script>
</head>
<body ng-app="LoginModule" ng-controller="Ctrl">
<div md-colspan="2">
    <md-content  ng-init = "names = ['A', 'B', 'C', 'D']" ng-if="currentPage" layout="column" style="margin-left: 25%" layout-align="space-around" layout-padding="layout- padding" ng-cloak="ng-cloak" flex="flex" flex-gt-sm="50" flex-gt-md="33" class="login-form">

            <md-card class="card-40-center" flex="flex" flex-gt-sm="68" flex-gt-md="38">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2><span>Passenger Details</span></h2>
                </div>
            </md-toolbar>
                <div  >
<!--
<md-card-content>
-->

                <ang-accordion one-at-a-time="true" icon-position="right" open-icon-url="../../resources/images/download.png" close-icon-url="../../resources/images/plussign.png">
                    <collapsible-item ng-repeat = "name in names" item-title="Enter Details">
                        <form name="Form">
                        <md-input-container lay>
                            <label>Full Name</label>
                            <input name="name" ng-model="name" required md-maxlength="40" minlength="3">
                            <div ng-messages="userForm.name.$error" ng-show="userForm.name.$dirty">
                                <div ng-message="required" class="my-message">This is required!</div>
                                <div ng-message="md-maxlength" class="my-message">That's too long!</div>
                                <div ng-message="md-minlength" class="my-message">That's too short!</div>
                            </div>
                        </md-input-container>


                        <md-input-container class="md-block">

                            <md-radio-group ng-model="data.group1">
                                <md-radio-button value="male" aria-label="male">Male</md-radio-button>
                                <md-radio-button value="female" aria-label="female">Female</md-radio-button>
                            </md-radio-group>
                        </md-input-container>

                        <md-input-container ng-controller="DateCtrl">

                            <md-datepicker name="birthdate" ng-model="dob" md-max-date="dob" md-min-date="mindate" md-placeholder="Enter DOB">
                            </md-datepicker>

                        </md-input-container>
                        </form>
                    </collapsible-item>
                </ang-accordion>

<!--</md-card-content>-->
            </md-card>
        </div>
    </md-content>

</div>



... <!-- More collapsible items -->




<md-content   ng-if="currentPage" layout="row" layout-align="space-around" layout-padding="layout- padding" ng-cloak="ng-cloak" class="login-form">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="38">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><span>Contact Details</span></h2>
            </div>
        </md-toolbar>
        <md-card-content>
            <form name="Form">

                <md-input-container class="md-block">
                    <label>Email ID</label>
                    <input type="email" name="email" ng-model="vm.email" required=""/>
                    <div ng-show="Form.$submitted || Form.email.$touched">
                        <span ng-show="Form.email.$error.required">Tell us your email.</span>
                        <span ng-show="Form.email.$error.email">This is not a valid email.</span>
                    </div>
                    <div ng-messages="Form.email.$error" role="alert" multiple="">
                        <div ng-message="required" class="my-message"></div>
                    </div>
                </md-input-container>


                <md-input-container class="md-block">
                    <label>Nationality</label>
                    <input name="nationality" ng-model="nationality" required>
                    <div ng-messages="userForm.nationality.$error" ng-show="userForm.nationality.$dirty">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Address</label>
                    <textarea name="address" ng-model="address" required md-maxlength="15"></textarea>
                    <div ng-messages="userForm.address.$error" ng-show="userForm.bio.$dirty">
                        <div ng-message="required"
                             class="my-message" >This is required!</div>
                        <div ng-message="md-maxlength" class="my-message">That's too long!</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>City</label>
                    <input name="city" ng-model="city" required>
                    <div ng-messages="userForm.city.$error" ng-show="userForm.city.$dirty">
                        <div ng-message="required" class="my-message">This is required!</div>
                    </div>
                </md-input-container>


                <md-input-container class="md-block">
                    <label>State</label>
                    <input name="state" ng-model="state" required>
                    <div ng-messages="userForm.state.$error" ng-show="userForm.state.$dirty">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>


                <md-input-container class="md-block">
                    <label>Country</label>
                    <input name="country" ng-model="country" required>
                    <div ng-messages="userForm.country.$error" ng-show="userForm.country.$dirty">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Pin code</label>
                    <input name="pin" ng-model="pin" required>
                    <div ng-messages="userForm.pin.$error" ng-show="userForm.pin.$dirty">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>



                <md-input-container class="md-block">
                    <label>Phone Number:</label>
                    <input type="text" name="userPhoneNumber" ng-model="phoneNumber" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required/>
                    <div ng-messages="exampleForm.userPhoneNumber.$error">
                        <div ng-message="required">This field is required</div>
                        <div ng-message="pattern">Must be a valid 10 digit phone number</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Alternate Phone Number:</label>
                    <input type="text" name="altPhoneNumber" ng-model="altphoneNumber" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required/>
                    <div ng-messages="exampleForm.altPhoneNumber.$error">
                        <div ng-message="required">This field is required</div>
                        <div ng-message="pattern">Must be a valid 10 digit phone number</div>
                    </div>
                </md-input-container>
                <md-button type="submit" ng-click="login()" class="md-raised md-primary"><a href="#">Login</a></md-button>
            </form>
        </md-card-content>
    </md-card>
</md-content>
<ng-view></ng-view>

</body>
</html>



