<!DocType HTML>
<html>
<head>
    <title>
        WanderLust
    </title>
        

<link href="../../resources/css/footer.css" rel="stylesheet">
  
   
    <link href="../../resources/css/index.css" rel="stylesheet">  
     <link href="../../resources/bower_components/angular-material/angular-material.css" rel="stylesheet">
         <link rel="stylesheet" href="../../resources/bower_components/angular-ui-grid/ui-grid.css"/>
     <link href="../../resources/bower_components/angular-ui-grid/ui-grid.css" rel="stylesheet"/>
    <link href="../../resources/bower_components/angular-material-icons/angular-material-icons.css" rel="stylesheet">
    <script src="../../resources/bower_components/angular/angular.js"></script>
    <script src="../../resources/bower_components/angular-animate/angular-animate.js"></script>
    <script src="../../resources/bower_components/angular-aria/angular-aria.js"></script>
    <script src="../../resources/bower_components/angular-material/angular-material.js"></script>
    <script src="../../resources/bower_components/angular-route/angular-route.js"></script>
    <script src="../../resources/bower_components/angular-messages/angular-messages.js"></script>
    <script src="../../resources/bower_components/angular-material-icons/angular-material-icons.js"></script>
    <script src="../../resources/bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="../../resources/bower_components/angular-touch/angular-touch.js"></script>

    <script type="text/javascript" src="../services/servicelib.js"></script>
    <script type="text/javascript" src="../modules/modulelib.js"></script>
    <script type="text/javascript" src="../controllers/logincontroller.js"></script>
    <script type="text/javascript" src="../controllers/searchController.js"></script>
    <script type="text/javascript" src="../controllers/controller.js"></script>
    <script type="text/javascript" src="../filters/filter.js"></script>
    <link href="../../resources/css/main.css" rel="stylesheet">
    <link href="../../resources/css/responsive.css" rel="stylesheet">
    <!--<link href="../../resources/css/login.css" rel="stylesheet">-->
 <link rel="stylesheet" href="../../resources/css/searchResult.css"/>
</head>
<body ng-app="AdminModule" ng-cloak ng-controller="stateCtrl">
     <header id="header">
       <nav class="navbar navbar-inverse" role="banner">
        <div class="container">
            
               <div class="collapse navbar-collapse navbar-right" id="navigation">
                   <div style="padding-right:100px;">
                       <img  src="../../resources/images/new.png" alt="logo" id="logo"> 
                   </div>
                   <div style="margin-left:400px;">
             <ul class="nav navbar-nav">
                   <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">

                      <md-nav-item  class="l1" name="page1">
                           <li><a href="#">Home</a></li>
                      </md-nav-item>
                      <md-nav-item class="l1" md-nav-click="sendLogin()" class="l1" name="page2">
                            <li><a href="#">Login</a></li>
                      </md-nav-item>
                      <md-nav-item  class="l1" md-nav-click="goto('page3')" class="l1" name="page3">
                            <li><a href="#">Profile</a></li>
                      </md-nav-item>
                       <md-nav-item  class="l1" md-nav-click="webCheckinFunction()" class="l1" name="page4">
                            <li><a href="#">Checkin</a></li>
                       </md-nav-item>
                       <md-nav-item  class="l1" md-nav-click="goto('page3')" class="l1" name="page5">
                            <li><a href="aboutus.html">About Us</a></li>
                       </md-nav-item>
                  </md-nav-bar>
                   </ul>
                  </div>
            
                  
                </div>
           </div>
          
       </nav>
   </header>
   

    <div id="line">
        
    </div>
    <md-card id="carding"><div id="searchPage"><ng-view></ng-view></div></md-card>
    <div ng-if="currentPage" id="outerSelectionArea"> 
       <div id="selectionArea">
           <md-toolbar md-colors="{background:rgb(46,61,74)}">
               <div class="md-toolbar-tools">
                  <h2 class="md-flex">Search</h2>
               </div>
           </md-toolbar>
             <div class="shiftRight">
             <md-grid-list md-gutter="1em" md-gutter-sm="0.5em" md-gutter-md="1em" md-gutter-gt-md="1.5em" md-row-height-sm="1:1" md-row-height="1:1" md-row-height-md="1:1" md-row-height-gt-md="1:1" md-cols="6" md-cols-gt-md="5" md-cols-sm="2" md-cols-md="6">
                    <md-grid-tile  md-colspan-gt-md="1" md-colspan-md="2" md-colspan-sm="2" md-colspan="1">
                           <button type="button" ng-click="toggle1()">Return</button>       
                    </md-grid-tile>
                    <md-grid-tile  md-colspan-gt-md="1" md-colspan-md="2" md-colspan-sm="2" md-colspan="1">                 
                           <button type="button" style="font-size:13px;" ng-click="toggle()">One Way</button>
                    </md-grid-tile> 
            </md-grid-list> 
            <md-grid-list md-gutter-sm="0.5em" md-gutter-md="1em" md-gutter-gt-md="1.5em"  md-row-height="2:1" md-row-height-sm="1:1" md-row-height-md="1:1" md-row-height-gt-md="1:1" md-cols="6" md-cols-gt-md="5" md-cols-md="2" md-cols-sm="2">
                   <md-grid-tile md-colspan-gt-md="2" md-colspan-md="2" md-colspan-sm="2" md-colspan="1">
                        <md-input-container>
                            <label>From</label>
                           <!-- <md-select ng-model="ctrl.userState">
                                <md-option><em>India</em></md-option>
                                <md-option><em>Singapore</em></md-option>
                                <md-option mg-repeat="state in cntrl.states" ng-value="state.abbrev">
                                    {{state.abbrev}}
                                </md-option>
                            </md-select>-->
                            <!--<md-select ng-model="selectedstate">
                            <md-option mg-repeat="item in result track by $index" ng-click="selectState()"></md-option>
                            </md-select>-->
                            <input type="text" list="state" name="mycountry"/>
                             <datalist id="state" ng-model="selectedstate"  >
                             <option ng-repeat="item in result track by $index" value="{{item.city}}" ng-click="selectState(item)">
                             </option>
                            </datalist>
                        </md-input-container>
                  </md-grid-tile>
                      <md-grid-tile md-colspan-gt-md="2" md-colspan-md="2" md-col-spansm="2" md-colspan="1">
                            <md-input-container>
                                <label>To</label>
                                 <input type="text" list="state" name="mycountry"/>
                             <datalist id="state" ng-model="selectedstate"  >
                             <option ng-repeat="item in result track by $index" value="{{item.city}}" ng-click="selectState(item)">
                             </option>
                            </datalist>
                            </md-input-container>
                      </md-grid-tile>
               </md-grid-list>
                 <div style="height:15px"></div>
                  <md-grid-list md-gutter-sm="0.5em" md-gutter-md="1em" md-gutter-gt-md="1.5em" md-gutter="2em" md-row-height="1:1" md-row-height-sm="1:1" md-row-height-md="1:1" md-row-height-gt-md="1:1" md-cols="6" md-cols-gt-md="6" md-cols-md="2" md-cols-sm="2">
                          <md-grid-tile md-colspan-gt-md="2" md-col-span-md="2" md-col-span-sm="2"  md-colspan="2">
                            <md-input-container>
                                <label>Depart</label>
                                 <md-datepicker ng-model="dob" md-max-date="maxDate1" md-min-date="currDate" md-placeholder="    {{currDate | date : format : timezone}}"> 
                                     </md-datepicker>
                            </md-input-container>
                          </md-grid-tile>

                           <md-grid-tile md-colspan-gt-md="2s" md-col-span-md="2" md-col-span-sm="2"  md-colspan="2">
                                <md-input-container ng-show="flag">
                                    <label>Return</label>
                                   <md-datepicker ng-model="dob" md-max-date="maxDate1" md-min-date="currDate" md-placeholder="{{currDate | date : format : timezone}}"> 
                                             </md-datepicker>
                                </md-input-container>    
                                </md-grid-tile>
                  </md-grid-list>
                 
                 <div style="height:15px"></div>
               <md-grid-list md-cols="6" md-gutter="1em" md-row-height="1:1">       
    <!--                <div class="row">   -->

                        <md-grid-tile md-colspan-gt-md="2" md-col-span-md="2" md-col-span-sm="2" layout="fill" md-colspan="2">    
                            <md-input-container>
    <!--                                <md-grid-tile-header>Passengers</md-grid-tile-header>   -->
                                                <span>Passengers</span>
                                                <md-select ng-model="passno">
                                                    <md-option value="1"><em>1</em></md-option>
                                                    <md-option value="2"><em>2</em></md-option>
                                                    <md-option value="3"><em>3</em></md-option>
                                                    <md-option value="4"><em>4</em></md-option>
                                                    <md-option value="5" ><em>5</em></md-option>
                                                    <md-option value="6"><em>6</em></md-option>
                                                    <md-option value="7"><em>7</em></md-option>
                                                    <md-option value="8"><em>8</em></md-option>
                                                     <md-option value="9"><em>9</em></md-option>
                                                </md-select>
                            </md-input-container>
                       </md-grid-tile>   
                       <md-grid-tile md-colspan="1"> 
                        <button type="submit" md-colspan=1 ng-click="searchFlights()">
                            Search
                        </button>
                   </md-grid-tile>
    <!--                </div>-->
               </md-grid-list>        

            </div>          
       </div>          
                   
    </div>         
    <footer ng-if=currentPage>
             
            
    
    <div class="footer-bottom">
        <div class="container">
           <!-- <p class="pull-left">--> Copyright © NIIT TECHNOLOGIES LTD 2017 All right reserved. <!--</p>-->
      </div>
    </div>  
    </footer>
    
    
</body>
</html>