<head>
<link rel="stylesheet" href="../../resources/css/login.css">
</head>
<md-content md-rowspan="6" md-colspan="6"  layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
    <md-card >
        <!--<md-toolbar>
            <div class="md-toolbar-tools">
                <h2><span>Sign In</span></h2>
            </div>
        </md-toolbar>-->
        <md-card-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="SignIn">
                    <md-content class="md-padding">
                        <md-card-content>
                            <form  name="Form" ng-controller="loginCtrl">
                                <md-input-container class="md-block">
                                    <label>Email Id</label>
                                    <input type="email" name="email" ng-model="vm.email" required/>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Password</label>
                                    <input type="password"  name="password" ng-model="vm.password" required/>
                                </md-input-container>
                                <div>
                                    <md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" ng-true-value="'yup'" ng-false-value="'nope'">
                                        Remember Me!
                                    </md-checkbox>
                                </div>
                                <md-button  type="submit" ng-click="getData()"  class="md-raised md-primary">&nbsp; Login &nbsp;</md-button>
                            </form>
                        </md-card-content>
                    </md-content>
                </md-tab>
                <md-tab label="SignUp">
                    <md-content class="md-padding">
                        <form ng-submit="login()" name="Form" ng-controller="regCtrl">
                            <md-input-container class="md-block">
                                <label>User Name</label>
                                <!-- ng-pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$"-->
                                <input type="text" name="name" ng-model="vm.name"  required  />

                                <div ng-messages="Form.name.$error" role="alert" multiple="">
                                    <div ng-message="required" class="my-message"></div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Email Id</label>
                                <input type="email" name="email" ng-model="vm.email" required/>
                                <div ng-messages="Form.email.$error" role="alert" multiple="">
                                    <div ng-message="required" class="my-message"></div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Password</label>
                                <input type="password" name="password" ng-model="vm.password"  required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required md-maxlength="16"/>
                                <div ng-messages="Form.password.$error" role="alert" multiple="">
                                    <div ng-message="required" class="my-message"></div>
                                    <div ng-message="md-maxlength" class="my-message">Too long.</div>
                                </div>
                            </md-input-container>


                            <md-button  type="submit" ng-click="addData()" ng-disabled="form.$invalid || vm.dataLoading" class="md-raised md-primary">&nbsp; Register &nbsp;</md-button>
                        </form>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-card-content>
    </md-card>
</md-content>

<!-- Angular Material Dependencies-->



<link rel="stylesheet" href="login.css">


