
<!DOCTYPE html >
<html>
<head>
    <style>
    #update
        {
            width:80%;
            margin-left: 20%;
            
        }
    
    </style>
    <link rel="stylesheet" href="../../resources/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="../../resources/bower_components/angular-material-icons/angular-material-icons.js">
    <script src="../../resources/bower_components/angular/angular.js"></script>
    <script src="../../resources/bower_components/angular-animate/angular-animate.js"></script>
    <script src="../../resources/bower_components/angular-material/angular-material.js"></script>
    <script src="../../resources/bower_components/angular-material-icons/angular-material-icons.js"></script>
    <script src="../../resources/bower_components/angular-aria/angular-aria.js"></script>
    <script src="../../resources/bower_components/angular-i18n/angular-locale_hi-in.js"></script>
    <script type="text/javascript" src="../controllers/updateprofile.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.6.3/angular-messages.js"></script>
    <script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>


</head>
<body  ng-app="MyApp" >
<div id="update" ng-controller="DemoCtrl" layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage">


    <md-content layout-padding="">
        <div>
            <form name="userForm">

                <div layout-xs="row">
                    <md-input-container class="md-block" flex-gt-xs="">
                        <label style="color:black"><h3><b>Update Profile </b></h3></label>
                    
                    </md-input-container>

                    
                </div>
                
                <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="6" md-cols-gt-md="6"
               md-row-height-gt-md="1:1" md-row-height="2:2"
               md-gutter="12px" md-gutter-gt-sm="8px">
               
                <md-grid-tile class="grey"  md-rowspan="2" md-colspan="2" md-colspan-sm="2" md-colspan-xs="1">
                <md-grid-tile-header>
                    <h3>Your Name</h3>
                </md-grid-tile-header>
                
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>First name</label>
                        <input ng-model="user.firstName">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Last Name</label>
                        <input ng-model="user.lastName">
                    </md-input-container>
        
                </md-grid-tile>
                
                 <md-grid-tile class="grey"  md-rowspan="2" md-colspan="2" md-colspan-sm="2" md-colspan-xs="1">
                <md-grid-tile-header>
                    <h3>Enter DOB</h3>
                </md-grid-tile-header>
                    
                    <md-input-container>
                        <label>Enter DOB</label>
                        <md-datepicker ng-model="user.submissionDate"></md-datepicker>
                    </md-input-container>
                    </md-grid-tile>
                
                <md-grid-tile class="grey"  md-rowspan="2" md-colspan="3" md-colspan-sm="2" md-colspan-xs="1">
                <md-grid-tile-header>
                    <h3>Your Contact Information</h3>
                    </md-grid-tile-header>
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input ng-model="user.email" md-maxlength="150" md-select-on-focus="">
                </md-input-container>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   <md-input-container class="md-block">
                    <label>Contact No</label>
                    <input ng-model="user.contact" md-maxlength="10" md-select-on-focus="">
                </md-input-container>
                    </md-grid-tile>
               
               
                 <md-grid-tile class="grey"  md-rowspan="2" md-colspan="5" md-colspan-sm="2" md-colspan-xs="1">
                <md-grid-tile-header>
                    <h3>Your Complete Address</h3>
                </md-grid-tile-header>
                
                <div layout-lg="row">
                <md-input-container class="md-block">
                    <label>Address</label>
                    <input ng-model="user.address">
                </md-input-container>

                
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>City</label>
                        <input ng-model="user.city">
                    </md-input-container>
                
                
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>State</label>
                        <md-select ng-model="user.state">
                            <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                {{state.abbrev}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                     </div>
                      <div layout-lg="">
                       
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Postal Code</label>
                        <input name="postalCode" ng-model="user.postalCode" placeholder="12345" required="" ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

                        <div ng-messages="userForm.postalCode.$error" role="alert" multiple="">
                            <div ng-messages="required" class="my-message">You must supply a postal code.</div>
                        </div>
                    </md-input-container>
                    
                    
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Country</label>
                        <input ng-model="user.country">
                    </md-input-container>
                     </div>
                    
                
                    </md-grid-tile>
                    
                </md-grid-list>
             <md-button ng-disabled="Form.$invalid" ng-click="submit()" class="md-raised md-primary" >&nbsp Login &nbsp</md-button>

                


            </form>
        </div>
    </md-content>

</div>
</body>
</html>