<head>
<link rel="stylesheet" href="../../resources/css/login.css">
</head>
<md-content  md-rowspan="6" md-colspan="6" ng-controller="stateCtrl" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
    <md-card >
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><span>Check-In</span></h2>
            </div>
        </md-toolbar>
        <md-card-content>
            <form ng-submit="checkin()" name="Form" id="web">
                <md-input-container class="md-block">
                    <label>PNR Number</label>
                    <input type="text"  name="pnr" ng-model="webCheckin.Pnr"  required ng-pattern="/^[A-Za-z0-9]*$/" ng-maxlength="5" style="color:black"/>
                    <div ng-messages="Form.pnr.$error" role="alert">
                        <div ng-message="required" class="my-message"></div>
                        <div ng-message="maxlength" class="my-message">Too long.</div>
                        <div ng-message="pattern" class="my-message">Wrong Pattern</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input type="email" name="email" ng-model="webCheckin.Email" required/>
                    <div ng-messages="Form.email.$error" role="alert">
                        <div ng-message="required" class="my-message"></div>
                    </div>
                </md-input-container>
              <md-button  type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="md-raised md-primary">&nbsp; Check-in&nbsp;</md-button>
            </form>
        </md-card-content>
    </md-card>
</md-content>
<!-- Angular Material Dependencies-->



