#main
{
    width:100%;
    height:200px;
    border:2px ;
    margin-left: 5%;
    color: white;
    background-color: rgb(46,61,74);
   
    
}
.container {
    color: white;
    font-size: 13px;
}

#firstdiv{
  
    width:25%;
    height:200px;
    border:2px ;
    margin-left: 5%;
    float:left;
}

#sdiv{
  
    width:25%;
    height:200px;
    border:2px;
    margin-left: 5%;
    float:left;
}

#tdiv{
  
    width:25%;
    height:200px;
    border:2px;
    margin-left: 5%;
    float:left;
}


.full {
    width: 100%;	
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
/*.footer {
	background: #EDEFF1;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}*/
/*.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}*/
footer ul {
	font-size: 13px;
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: black;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}

footer 
{
   background-color: rgb(46,61,74);
}

.footer-bottom {
	
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
