/*
body
{
   font-family: gotham-book; 
}
*/
html{
    overflow: hidden;
}
.shift
{
    display: flex
}

.shiftRight
{
    margin-left: 20px;
}

.roundTripHide
{
    display: none
}

.desktop
{
/*    background-color: antiquewhite;*/
}

.mobile
{
/*    background-color: aquamarine;*/
}

#line
{
    height: 8px;
    background-color: orange;
}

#outerSelectionArea
{
    background-image: url('flight1320x742.jpg');
    background-repeat: no-repeat;
/*    //background-size: 110% 600px;*/
    height:450px;
    width: 100%;
/*    background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
 
}


#selectionArea
{
    position: absolute;
    width: 35%;
    height:60%;
    margin: 40px 100px 100px 40px;
    background-color: rgba(63, 72, 85, 0.52);
    color:white;
    
}

/*
#selectionArea > div
{
    padding-top:15px;
    padding-left: 50px;
}
*/

#login
{
    height: 51px;
    width: auto;
    padding-bottom: 10px;
}

button
{
    background-color:  rgb(46, 61, 74);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    width: 73px;
    height: 42px;
    font-size:13px;
    
}
.inputLabel
{
    color: white;
    text-align: center;
    
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    color: white;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: rgb(46, 61, 74);
    color:white;
}

md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder {
color: white;
   
}
md-select.md-default-theme .md-select-value.md-select-placeholder, md-select .md-select-value.md-select-placeholder {
    color: white;
}