.login-form.md-card{
    
    padding: inherit;
} 

.login-form.md-card-title{
    
    background-color: blue;
}



md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder {
  
    color: black;
}

md-input-container.md-input-focused .md-input, md-input-container .md-input.ng-invalid.ng-dirty, md-input-container.md-input-resized .md-input {
    padding-bottom: 0;
    border-width: 0 0 2px 0;
    color:black
}
