.md-button {
  padding: 0 6px 0 6px;
  margin: 12px 8px 6px 12px;
  border-radius: 3px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  min-width: 60px;
}

.head{
    align-content: center;
    align-items: center;
    text-align: center;
    font-size-adjust: 35px;
    height: 50px;
    background-color: steelblue;
    color:white;
  
}
.grid{
    width: 650px;
    height: 370px;
    table-layout: 50px;
    margin-left: 150px;
    margin-right: 160px;
/*    margin-top: 230px;*/
}
.grid-align {
    text-align: center;
}

