<md-dialog aria-label="Mango (Fruit)">
    <form ng-submit="hide()"  ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>State Editing</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_done_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div>
                <md-input-container>
                    <label>State Id</label>
                    <input lazy-model="currency.StateCode">
                </md-input-container>

                <md-input-container>
                    <label>State Name</label>
                    <input lazy-model="currency.StateName" type="text">
                </md-input-container>
            </div>
            
      </md-dialog-content>
        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button type="submit">
                Save
            </md-button>
            
           
            <md-button  ng-click="hide()">
                Cancel
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>