<div ng-controller="ModalCtrl4">
    <md-button id="btn" ng-click="showConfirm($event, row)" class="md-icon-button launch" >
        <ng-md-icon  icon="delete_forever" style="fill:blue" size="25"></ng-md-icon>
    </md-button>
</div>