<!-- <div ng-controller="ModalCtrl2">
            <md-button class="md-primary md-raised" ng-click="showConfirm($event,row)"  flex="100"  flex-gt-md="auto">
               Delete
            </md-button>
</div> --> 
<div ng-controller="ModalCtrl2">
    <md-button id="btn" ng-click="showConfirm($event, row)" class="md-icon-button launch" >
        <ng-md-icon  icon="delete_forever" style="fill:blue" size="25"></ng-md-icon>
    </md-button>
</div>