<div ng-controller="ModalCtrl5">
    <md-button id="btn" ng-click="open($event, row)" class="md-icon-button launch">
        <ng-md-icon  icon="mode_edit" style="fill:blue" size="25"></ng-md-icon>
    </md-button>
</div>